.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin-top: 10px;
  height: 300px;
  width: 300px;
}
.texto {
  margin-top: -70px;
}

.cards {
  display: flex;
  flex-direction: row;
  text-align: start;
  gap: 75px;
  margin-top: 30px;
  justify-content: space-evenly;
}

.cards h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

body {
  font-family: "Roboto", sans-serif; /* Para o texto principal */
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif; /* Para os títulos */
}
